<div style = "height:100%">
    <mat-card style = "width: 20%; background-color: whitesmoke;">
        <mat-card-title>
            Login
        </mat-card-title>
        <div style = "margin-top: 5%;">
            <button  mat-raised-button color = "primary" (click) = "loginWithGoogle()" >Mit Google anmelden</button>
        </div>
        <div style = "margin-top: 5%;">
            <button mat-raised-button color = "primary">Mit Facebook anmelden</button>
        </div>
    </mat-card>
</div>


