<div class = "main-wrapper">
    <mat-card style =  "background-color: whitesmoke">
        <div fxLayout = "column" fxLayoutAlign = "center center">
            <mat-card-title>
                Login
            </mat-card-title>
            <div style = "margin-top: 5%;">
                <button   mat-raised-button  (click) = "loginWithGoogle()" >Mit Google anmelden</button>
            </div>
            <div style = "margin-top: 5%;">
                <button   mat-raised-button  (click) = "loginWithGitHub()" >Mit GitHub anmelden</button>
            </div>
        </div>
    </mat-card>
</div>


