<mat-card class="card-finetuning">
    <h2>Interessante Mentoren</h2>
    <div *ngFor="let mentor of mentors">
    <mat-card-header>
        <img *ngIf="mentor.photoURL != null"
          src="{{mentor.photoURL}}"
          mat-card-avatar />
        <img *ngIf="mentor.photoURL == null"
          src="./../../../../../assets/Images/User-Placeholder.png"
          mat-card-avatar />
        <mat-card-title>{{mentor.firstname}} {{mentor.lastname}}</mat-card-title>
        <mat-card-subtitle>{{mentor.job}} bei {{mentor.company}}</mat-card-subtitle>
      </mat-card-header>
    </div>
</mat-card>