<mat-card class="card-finetuning">
  <h2>Interessante Mentoren</h2>
  <div *ngFor="let mentor of mentors" class="mentor-display">
    <mat-card-header routerLink="/profile/{{mentor.uid}}">
      <!-- Photo -->
      <img *ngIf="mentor.photoURL !== unknown" src="{{mentor.photoURL}}" mat-card-avatar />
      <img *ngIf="mentor.photoURL === unknown" src="./../../../../../assets/Images/User-Placeholder.png"
        mat-card-avatar />

      <!-- Name -->
      <mat-card-title *ngIf="mentor.firstname !==  '' && mentor.lastname !== ''">{{mentor.firstname}}
        {{mentor.lastname}}</mat-card-title>
      <mat-card-title *ngIf="mentor.firstname ===  '' && mentor.lastname === ''">Name nicht abrufbar.</mat-card-title>

      <!-- Job And Company -->
      <mat-card-subtitle *ngIf="mentor.company !== ''">{{mentor.job}} bei {{mentor.company}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="mentor.company === ''">{{mentor.job}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="mentor.company === '' && mentor.job ===''">Keine Jobinformationen verfügbar.
      </mat-card-subtitle>
    </mat-card-header>
  </div>
</mat-card>