.center{
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
}

// Main Banner

.main-banner {
	height: 850px;
	position: relative;
    overflow: hidden;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--blackColor);
        opacity: .15;
    }
    &.gradient-bg {        
        &::before {
            background: linear-gradient(90deg, #232021 0, #0093c8);
            opacity: .80;
        }
    }
}
.item-bg-one {
    background-image: url(/assets/Images/landing-page_1920x1080.png);
}
.main-banner-text {
    position: relative;
    flex: 0 0 100%;
    text-align: center;
    align-self: center;
    z-index: 1;

    h4 {
        color: var(--whiteColor);
        font: {
            weight: 400;
            size: 20px;
        };
    }
    h1 {
        color: var(--whiteColor);
        margin: {
            top: 30px;
            bottom: 30px;
        };
        font: {
            weight: 400;
            size: 55px;
        };
        line-height: normal;
        span {
            color: #ff2c57;
            font-weight: 600;
        }
        ngx-typed-js {
            display: inline-block;

            div {
                display: inline-block;

                span {
                    display: inline-block;
                }
            }
        }
    }
    p {
        color: var(--whiteColor);
        max-width: 650px;
        font-size: 15.5px;
        margin: {
            left: auto;
            right: auto;
            bottom: 30px;
        };
    }
    .btn {
        margin: {
            left: 7px;
            right: 7px;
        };
        &:hover, &:focus {
            border-color: var(--whiteColor);
        }
    }
}