<main class="app-body">
    <!-- navbar -->
    <mat-toolbar color="primary" *ngIf="!isLandingPage()" style="height: 60px; box-shadow: 1px 2px 5px #d3d0d0; position: fixed; z-index: 2;">
        <span class="outer-spacer"></span>

        <a style = "cursor:pointer; font-weight: 600; font-size: xx-large;" routerLink = "/landing" >Divers<span class="accent-color">IT</span></a>
        <span class="spacer"></span>
        <button mat-icon-button class = "icon-label" style="margin-right: 30px;">
            <mat-icon class="icon" id="favorite" color="accent">search</mat-icon>
            <label for="favorite" style="display:block; margin-top: -25px;">Suche</label>
        </button>
        <button mat-icon-button class = "icon-label" style="margin-right: 30px;">
            <mat-icon class="icon" id="favorite" color="accent">supervisor_account</mat-icon>
            <label for="favorite" style="display:block; margin-top: -25px;">Mentoren</label>
        </button>
        <button mat-icon-button class = "icon-label" style="margin-right: 60px;">
            <mat-icon class="icon" id="favorite" color="accent">person</mat-icon>
            <label for="favorite" style="display:block; margin-top: -25px;">Profil</label>
        </button>
        <button mat-icon-button class = "icon-label" style="margin-right: 60px;">
            <mat-icon class="icon" id="favorite" color="accent">forum</mat-icon>
            <label for="favorite" style="display:block; margin-top: -25px;">Benachrichtigungen</label>
        </button>
        <button mat-icon-button class = "icon-label">
            <mat-icon class="icon" id="favorite" color="accent">notifications</mat-icon>
            <label for="favorite" style="display:block; margin-top: -25px; ">Chat</label>
        </button>

        <span class="outer-spacer"></span>
    </mat-toolbar>

    <!-- content -->
    <router-outlet></router-outlet>
</main>