<main class="app-body">
    <!-- navbar -->
    <mat-toolbar color="primary" *ngIf="!isLandingPage() && !isLegalOrForumPage()"
        style="height: 60px; box-shadow: 1px 2px 5px #d3d0d0; position: fixed; z-index: 2;">
        <span class="outer-spacer"></span>


        <a style="cursor:pointer; font-weight: 600; font-size: xx-large;" (click)="diversIT()">Divers<span
                class="accent-color">IT</span></a>
        <span class="spacer"></span>
        <button mat-icon-button class="icon-label" style="margin-right: 40px;" routerLink="/landing">
            <mat-icon class="icon" id="info" color="accent">info</mat-icon>
            <label for="info" class="lable">Landingpage</label>
        </button>
        <button mat-icon-button class="icon-label" style="margin-right: 30px;">
            <mat-icon class="icon" id="search" color="accent">search</mat-icon>
            <label for="search" class="lable">Suche</label>
        </button>
        <button mat-icon-button class="icon-label" style="margin-right: 30px; " routerLink="/relations">
            <mat-icon class="icon" id="supervisor_account" color="accent">supervisor_account</mat-icon>
            <label for="supervisor_account" class="lable">{{currentUser?.role === 3 ? "Mentoren": "Mentees"}}</label>
        </button>
        <button mat-icon-button class="icon-label" style="margin-right: 60px;"
            routerLink="/profile/{{currentUser?.uid}}">
            <mat-icon class="icon" id="person" color="accent">person</mat-icon>
            <label for="person" class="lable">Profil</label>
        </button>
        <button mat-icon-button class="icon-label" style="margin-right: 60px; " routerLink="/notifications">
            <mat-icon *ngIf="newNotifications === 0" class="icon" id="notifications" color="accent">notifications
            </mat-icon>
            <mat-icon *ngIf="newNotifications !== 0" matBadgeSize="small" matBadge="{{newNotifications}}"
                matBadgePosition="below" matBadgeColor="accent" class="icon" id="notifications" color="accent">
                notifications</mat-icon>
            <label for="notifications" class="lable">Benachrichtigungen</label>
        </button>
        <button mat-icon-button class="icon-label" style="margin-right: 30px;" routerLink="/chat">
            <mat-icon *ngIf="newMessages === 0" class="icon" id="forum" color="accent">forum</mat-icon>
            <mat-icon *ngIf="newMessages !== 0" matBadgeSize="small" matBadge="{{newMessages}}" matBadgePosition="below"
                matBadgeColor="accent" class="icon" id="forum" color="accent">forum</mat-icon>
            <label for="forum" class="lable">Chat</label>
        </button>
        <button mat-icon-button class="icon-label" (click)="logout()">
            <mat-icon class="icon" id="exit_to_app" color="accent">exit_to_app</mat-icon>
            <label for="exit_to_app" class="lable">Ausloggen</label>
        </button>

        <span class="outer-spacer"></span>
    </mat-toolbar>

    <!-- reduced navbar for legal pages like imprint and privacy and forum pages -->
    <mat-toolbar color="primary" *ngIf="isLegalOrForumPage()"
        style="height: 60px; box-shadow: 1px 2px 5px #d3d0d0; position: fixed; z-index: 2;">
        <span class="outer-spacer"></span>

        <a style="cursor:pointer; font-weight: 600; font-size: xx-large;" (click)="diversIT()">Divers<span
                class="accent-color">IT</span></a>
        <span class="spacer"></span>
        <button mat-icon-button class="icon-label" style="margin-right: 40px;" (click)="back()">
            <mat-icon class="icon" id="back" color="accent">keyboard_arrow_left</mat-icon>
            <label for="back" class="lable">Zurück</label>
        </button>

        <span class="outer-spacer"></span>
    </mat-toolbar>

    <div *ngIf="!isLandingPage()" style="height: 60px"></div>

    <!-- content -->
    <router-outlet></router-outlet>

</main>
<ngx-scrolltop></ngx-scrolltop>