<nav class="navbar navbar-light" [class.active]="classApplied" ngStickyNav stickyClass="sticky-box-shadow" >
    <div class="container">
        <a class="navbar-brand" routerLink="/"
            style="display: flex; flex-direction: row; justify-content: left; align-items: center;">Divers<span>IT</span></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"><span class="nav-link" (click)="toggleClass(); onClick('home')">Home</span></li>
                <li class="nav-item"><span class="nav-link" (click)="toggleClass(); onClick('mentor-spotlight')">Mentor
                        Spotlight</span></li>
                <li class="nav-item"><span class="nav-link"
                        (click)="toggleClass(); onClick('job-profiles')">Job-Profile</span></li>
                <li class="nav-item"><span class="nav-link" (click)="toggleClass(); onClick('mission')">Mission</span>
                </li>
                <li class="nav-item"><span class="nav-link" (click)="toggleClass()"
                        [routerLink]="['../forum']">Forum</span>
                </li>
                <li *ngIf = "currentUser === null" class="nav-item"><span class="nav-link" (click)="toggleLogin()">Login</span></li>
                <li *ngIf = "currentUser !== null" class="nav-item"><span class="nav-link" (click)="logout()">Ausloggen</span></li>
            </ul>
        </div>
    </div>
    <app-login-box *ngIf="loginApplied" style="justify-self: right; justify-content: right;">
    </app-login-box>
</nav>