<div id="mission">
    <div class="container" hidden>
        <h2>Die Divers<span>IT</span> Mission</h2>
    </div>

    <div class="mission ptb-100">
        <div class="mission-content">
            <div class="section-title mb-0">
                <h2>Die Divers<span>IT</span>-Mission</h2>
                <h3>Wir vernetzen dich mit Mentor<span>innen</span> aus Forschung und Praxis</h3>
                <h3>Wir helfen dir beim Einstieg in deine <span>IT</span>-Ausbildung</h3>
                <h3>Wir bringen dich mit deinen Peers in Verbindung</h3>
                <h3>Wir zeigen dir die vielen Facetten der IT</h3>
                <h3>Wir weisen dir den Weg zu deinem persönlichen <span>IT</span>-Traumberuf</h3>
            </div>
        </div>
    </div>
</div>