rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {


    function signedIn() {
      return request.auth.uid != null;
    }

    match /users/{user} {
      allow read: if true;
      allow write, update, delete: if signedIn && request.auth.uid == user;
    }

    match /posts/{post} {
      allow read: if signedIn();
      allow write, update: if signedIn() && request.auth.uid == request.resource.data.userID;
      allow delete: if signedIn() && request.auth.uid == resource.data.userID;
    }

    match /ratings/{rating} {
      allow read: if true;
      allow write, delete, update: if signedIn() && request.auth.uid == request.resource.data.userID;
    }

    match /notifications/{notification} {
      allow read, delete: if signedIn() && (request.auth.uid == resource.data.toUID || request.auth.uid == resource.data.fromUID);
      allow write: if signedIn() && request.auth.uid == request.resource.data.fromUID;
    }

    match /threads/{thread} {
      allow read: if true;
      allow write: if true;
    }

    match /answers/{answer} {
      allow read: if true;
      allow write: if true;
    }
  }
}