@import "./theme.scss";
body{
    background-color: #F3F2EF;
}

.main-wrapper{
    width: 100%;
    
}

.red-snackbar{
    background-color: rgb(153, 50, 50);
    color: lightgoldenrodyellow;
}

.green-snackbar{
    background-color: rgb(29, 102, 29);
    color: lightgreen;
}

