@import "./theme.scss";

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F3F2EF;
}

.mat-tooltip{
    font-size: 0.85rem;
}

.main-wrapper{
    width: 100%;
}

.red-snackbar{
    background-color: rgb(153, 50, 50);
    color: lightgoldenrodyellow;
}

.green-snackbar{
    background-color: rgb(29, 102, 29);
    color: lightgreen;
}

[hidden] {
    display: none!important;
}

/* You can add global styles to this file, and also import other style files */

/*==============================
Default CSS
==============================*/
:root {
    --fontFamily: 'Poppins', sans-serif;
    --mainColor: #ff2c57;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --transition: .5s;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--fontFamily);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
    font-weight: 400;
    color: var(--blackColor);
	line-height: 1;
    span {
        color: var(--mainColor);
        line-height: 10px;
        transition: var(--transition);
        font: {
            weight: 600;
        }
    }
}
ul {
    li {
        list-style-type: square;
    }

    li::marker {
        font-size: 20px;
        color: var(--mainColor);
    }
}
:focus {
    outline: 0 !important;
}
p {
	margin-bottom: 0;
	line-height: 1.8;
	color: #727695;
}
a {
    cursor: pointer;
	color: #222222;
	text-decoration: none;
    transition: var(--transition);

    &:hover, &:focus {
        color: var(--mainColor);
	    text-decoration: none;
    }
}
img {
    max-width: 100%;
}
.ptb-100 {
    padding: {
        bottom: 100px;
        top: 100px;
    }
}
.pt-100 {
    padding: {
        top: 100px;
    }
}
.pb-100 {
    padding: {
        bottom: 100px;
    }
}
.ptb-70 {
    padding: {
        top: 70px;
        bottom: 70px;
    }
}
.pt-70 {
    padding: {
        top: 70px;
    }
}
.pb-70 {
    padding: {
        bottom: 70px;
    }
}
.bg-fffdfd {
    background: #fffdfd;
}
.bg-F7F5F4 {
    background-color: #F7F5F4;
}
.ml-auto {
    margin-left: auto;
}
/*Btn Btn-Primary*/
.btn {
	padding: 10px 30px;
    transition: var(--transition);
    font: {
        size: 16px;
        weight: 500;
    };
}
.btn-primary {
	color: var(--whiteColor);
	background-color: var(--mainColor);

    &:hover, &:focus, &.disabled:hover, &.disabled:focus {
        color: var(--mainColor);
	    background-color: var(--whiteColor);
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        color: var(--whiteColor);
	    background-color: var(--mainColor);
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
    &.focus, &:focus {
        box-shadow: none;
    }
    &.disabled, &:disabled {
        color: var(--whiteColor);
        background-color: var(--mainColor);
        opacity: 1;
    }
}

/*Chip Chip-Primary*/
.chip {
	padding: 4px 8px;
    position: relative;
    top: -4px;
    left: 10px;
	border-radius: 30px;
    transition: var(--transition);
    font: {
        size: 14px;
        weight: 500;
    };
}
.chip-primary {
	color: var(--whiteColor);
	background-color: var(--mainColor);
    border-color: var(--mainColor);
}

// Section Title
.section-title {
    margin: 30px;
	padding-left: 30px;
    position: relative;

    &::before, &::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        left: 10px;
        top: 0;
        background: var(--mainColor);
        transition: var(--transition);
    }
    &::after {
        left: 0;
        height: 50%;
    }
    &:hover::before {
        height: 50%;
    }
    &:hover::after {
        height: 100%;
    }
    h2 {
        font: {
            size: 40px;
            weight: 400;
        }
        span {
            color: var(--mainColor);
            font-weight: 600;
        }
    }
    p {
        max-width: 635px;
        margin-top: -7px;
    }
    h4 {
        color: var(--mainColor);
        margin-bottom: 14px;
        font: {
            size: 17px;
            weight: 400;
        }
    }
}

/*==============================
Job Profiles Global CSS
==============================*/

.cdk-overlay-container {
    .mat-pseudo-checkbox-checked {
        background: var(--mainColor)!important;
    }
    
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: var(--blackColor);
    }
}

app-job-profiles .mat-grid-tile .mat-figure {
    display: block!important;
}