@import '~@angular/material/theming';
@include mat-core();

$mintistcool-primary: mat-palette($mat-grey, 50);
$mintistcool-accent: mat-palette($mat-pink, 400);
$mintistcool-warn: mat-palette($mat-red);

$mintistcool-theme: mat-light-theme((
  color: (
    primary: $mintistcool-primary,
    accent: $mintistcool-accent,
    warn: $mintistcool-warn,
  )
));

@include angular-material-theme($mintistcool-theme);
$primary: map-get($mintistcool-primary, default);
$accent: map-get($mintistcool-accent, default);
$warn: map-get($mintistcool-warn, default);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }