.left-panel {    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

app-profile-card{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0px;
}