<!-- <button mat-raised-button routerLink="/profile/{{currentUser?.uid}}">Zum Profil</button>
<button mat-raised-button (click) = "logout()">Ausloggen</button>
<button mat-raised-button routerLink="/admin">Zur Admin Page</button>
<button mat-raised-button (click) = "testAddRelationship()">Test Add Mentee Methode</button>
<button mat-raised-button routerLink = "/chat">Chat</button> -->
<div class="main">
    <app-left-panel class="left-panel"></app-left-panel>
    <app-center-panel class="center-panel"></app-center-panel>
    <app-right-panel class="right-panel"></app-right-panel>
</div>