.card-finetuning {
    margin: 10px 0px;
    width: 100%;

    textarea.mat-input-element {
      height: 180px;
    }

    .mat-form-field {
      width: 100%;
    }

    #disclaimer {
      font-size: smaller;
      text-align: left;
    }
  }