<mat-card *ngIf="userOfProfile && userOfProfile.role === 2">
    <div class="background-image"></div>
        <div mat-card-avatar style="background-image: url('{{userOfProfile.photoURL}}');"></div>
    <mat-card-content>
        <h1 >{{userOfProfile.firstname + " " + userOfProfile.lastname}}</h1>
        <h3 *ngIf="userOfProfile.job === null  && userOfProfile.company === null">Keine Jobinformationen verfügbar. </h3>
        <h3 *ngIf="userOfProfile.job  && userOfProfile.company === null">{{userOfProfile.job}} </h3>
        <h3 *ngIf="userOfProfile.job && userOfProfile.company">{{userOfProfile.job + " bei " + userOfProfile.company}} </h3>
        <button *ngIf="currentUser.mentors.includes(userOfProfile.uid)" mat-raised-button color="accent">Nachricht</button>
        <button *ngIf="!currentUser.mentors.includes(userOfProfile.uid)" mat-raised-button color="accent" (click)="addMentor()">Verknüpfen</button>
        
        <button mat-raised-button [matMenuTriggerFor]="menu">Mehr</button>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item (click)="cancleMentorship()">Mentorschaft beenden</button>
            <button mat-menu-item>Details ansehen</button>
          </mat-menu>
    </mat-card-content>
</mat-card>

