<mat-card>
    <div class="background-image"></div>
        <div mat-card-avatar style="background-image: url('https://s3-alpha-sig.figma.com/img/22c2/393b/f4990f67bc81db3c88cce491ad1d8ea5?Expires=1638144000&Signature=huiZHejJpupZnqBG3w0DC8Il~WLZokJhK-x5IsJuVsYOJ5o2Iz0k3rBVGsIEjiLPBGUf0HiiXR1PBmEERFvMG-ON8C0KJL7Su9rcT5vx6yFt4LOq7O7SDpES-8lv23Gz-dmC97u0pjR9zrg5QYmpRGRoiHGcGo0iW42w49SfH0QJQY7UUfHSxXBN9PJD-zHsyQOxRnFJPMyt~CHywPeqpJo8D9WUpqO~LH-6q61rBP79kBhU3xx-XxYT4~qXOJqOlQI5qrygwFHdAsSRjL8DLbSlgSR6DGePRxonEC~-T-zP~ahmj29X34VI6mAyuOlHd9RBrpCz34qu8ky9L9yYFA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');"></div>
    <mat-card-content>
        <h1>Name nicht abrufbar.</h1>
        <h3> Student an der JKU </h3>
        <button mat-raised-button color="accent">Nachricht</button>
        <button mat-raised-button>Mehr</button>
    </mat-card-content>
</mat-card>

