.wrapper{
    margin-top: 10px;
}

mat-card{
    margin-top: 10px;
    width: 100%;
    background-size: 100% 50% ;
    background-image: url('./../../../../assets/Images/background-profile-3.png');
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 15px 15px 5px 5px;
}

mat-card-content{
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.mat-card-avatar{
    height: 150px; 
    width: 150px;
    margin: 70px 0px ;
    background-size: cover;
    box-shadow: 2px 4px 3px #2f2f2f7a;
    margin-bottom: 10px;
}

button{
    // border-radius: 1000px;
    margin-right: 20px;
}


