.wrapper{
    margin-top: 10px;
}

mat-card{
    margin-top: 10px;
    width: 100%;
    background-size: 100% 50% ;
    background-image: url('https://s3-alpha-sig.figma.com/img/897f/1df0/6995973c73344484f428ddb04e3524d6?Expires=1638144000&Signature=MgFAKRxtelAgJ0neKgioMlLYCBrnSp0gR4JK~ryF8qQ~JxskR4qjB7whhdFRPZguIMlalGHMdtwJxELHiWpNXnavZN7sgmvP2Gw0FpX5Pssjc3v45QocMTqFM-QmCwmJwubCttkaAlDmEKZzQNQiC8m7HBSDVdLIvN48ZxclixZE~DGFVxBHzQgwEuA-92oXXlspE80D8i~3vTSHLp6UNN8KQnjgCC2HnFf1ZOkhKA3p3k6Z6bwP1t4HDIt7UYxQmOCdDsMauGO86XG~vbKtRTFC-y5TKw5XvuCM8t5bPn6MbjkgkuWR9DkD-QBh3d1mFa~-LNUYwVjY1Wto9xqZvA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 15px 15px 5px 5px;
}

mat-card-content{
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.mat-card-avatar{
    height: 150px; 
    width: 150px;
    margin: 70px 0px ;
    background-size: cover;
    box-shadow: 2px 4px 3px #888888;
    margin-bottom: 10px;
}

button{
    // border-radius: 1000px;
    margin-right: 20px;
}
