<mat-card *ngIf="userOfProfile">
    <div class="background-image"></div>
        <div mat-card-avatar style="background-image: url('{{userOfProfile.photoURL}}');"></div>
    <mat-card-content>
        <h1 >{{userOfProfile.firstname + " " + userOfProfile.lastname}}</h1>
        <h3 *ngIf="userOfProfile.job === null  && userOfProfile.company === null">Keine Jobinformationen verfügbar. </h3>
        <h3 *ngIf="userOfProfile.job  && userOfProfile.company === null">{{userOfProfile.job}} </h3>
        <h3 *ngIf="userOfProfile.job && userOfProfile.company">{{userOfProfile.job + " bei " + userOfProfile.company}} </h3>
        
        <!-- Wenn es nicht mein eigenes Profil ist -->
        <wrapper *ngIf="userOfProfile.uid !== currentUser.uid"> <!-- wrapper ist ein selbst erstelltes HTML Element welches kein Styling besitzt, und somit alles inheritet -->
            <!-- profil IST mein Mentor -->
            <button *ngIf="currentUser.mentors.includes(userOfProfile.uid)" mat-raised-button color="accent" (click)="navigateToChatWithMentor()">Nachricht</button>
            <!-- profil ist NICHT mein Mentor -->
            <button *ngIf="!currentUser.mentors.includes(userOfProfile.uid)" mat-raised-button color="accent" (click)="addMentor()">Verknüpfen</button>
        
            <button mat-raised-button [matMenuTriggerFor]="menu">Mehr</button>
            <mat-menu #menu="matMenu" >
                <button *ngIf="currentUser.mentors.includes(userOfProfile.uid)" mat-menu-item (click)="cancleMentorship()">Mentorschaft beenden</button>
                <button mat-menu-item (click)="showDetails()">{{showUserDetails ? "Posts anzeigen" : "Details anzeigen"}}</button>
            </mat-menu>
        </wrapper>

        <!-- Wenn es Mein eigenes Profil ist -->
        <wrapper *ngIf="userOfProfile.uid === currentUser.uid">
            <button mat-raised-button (click)="navigateToProfileSetting()">Profileinstellungen</button>
        </wrapper>
    </mat-card-content>
</mat-card>



