@import "../../theme.scss";

.main-wrapper{
    width: 100%;
    height: 100%;
}

.chat-window{
    display: block;
    height: 80%;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    background-color: #E8E8E8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.chat-box-header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #DDD8D8;
    border-radius: 15px 15px 0px 0px;
    justify-content: flex-start;
    align-items: center;
}

.chat-list{
    background-color: #FAFAFA;
    height: 100%;
    width: 25%;
    min-width: 25%;
    overflow-y: scroll;
    border-radius: 0px 0px 0px 15px;
}

.chat-box-unselected{
    width: 100%;
    height: 10%;
    background-color: #FAFAFA;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    min-height: 10%;
}

.chat-box-selected{
    width: 100%;
    height: 10%;
    background-color: #E8E8E8;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    min-height: 10%;
}

.message-window{
    width: 100%;
    height: 95%;
    min-width: 100%;
    word-break: break-all;
    overflow-y: scroll;
    //visibility: hidden;
}

.own-message-wrapper {
    width: 100%;
    display: flex;
    word-break: break-all;
    align-items: flex-start;
    margin-bottom: 5%;
    flex-direction: column;
   
}

.other-message-wrapper {
    width: 100%;
    display: flex;
    word-break: break-all;
    align-items: flex-end;
    margin-bottom: 5%;
    flex-direction: column;
}

.own-message{
    width: 50%;
    height: 10%;
    background-color: rgba(221, 216, 216, 0.5);
    display: flex;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
    
}

.other-message{
    width: 50%;
    height: 10%;
    background-color: rgba(236, 64, 122, 0.5);
    display: flex;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    margin-right: 5%;

}

.own-timestamp{
    margin-left: 5%;
    margin-bottom: 0%;
}

.other-timestamp{
    margin-left: 5%;
    margin-bottom: 0%
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.response-box{
    width: 100%;
    min-width: 100%;
    background-color:#DDD8D8;
    align-items: center;
    justify-content: left;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.form-field{
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.textarea{
    width: 100%;
    margin-left:5%;
}

.send-button{
    display: flex;
    cursor: pointer;
    color: $accent;
    margin-right: 5%;
    margin-left: 5%;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:  #FAFAFA;
}

.image {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    border-radius: 50%;
}

