<!-- <div *ngFor = "let chat of currentChats">
    <div style = "cursor: pointer;"  (click) = "openChat(chat)">{{chat.uid}}</div>
</div>


<div *ngIf = "chatOpen === true">

    <div>Chat</div>
    <h3>Nachrichten:</h3>
    <div *ngFor = "let message of messages, let i = index">
        <div>
            {{message.sender}}: {{message.text}}
        </div>
    </div>
    <mat-form-field>
        <input matInput placeholder="Hallo, wie gehts?" type = "text" [formControl] = "textInput">
      </mat-form-field>
      <div>
        <button mat-raised-button [disabled] = "!textInput.valid" (click) = "sendMessage()" >Nachricht absenden</button>
    </div>
</div> -->

<div class="main-wrapper">
    <div class="chat-window">
        <div class="chat-box-header">
            <div><img class = "image" src="{{currentUser.photoURL}}" alt=""></div>
            <div style = "margin-left: 2%;"><h2>{{currentUser.firstname}} {{currentUser.lastname}}</h2></div>
        </div>

        <div class="flex-wrapper">
            <div class="chat-list">
                <div [ngClass]="chat.uid === activeChat ? 'chat-box-selected' : 'chat-box-unselected'"
                    (click)="openChat(chat)" *ngFor="let chat of currentChats">
                    <div>
                        {{chat.uid}}
                    </div>
                </div>
            </div>
            <div class = "flex-wrapper" style =  "height: 100%; flex-direction:column" *ngIf="chatOpen">
                <div #messageList class="message-window">
                    <div class = "message" *ngFor="let message of messages; let i = index; let last = last">
                        <div style ="height: 100%">
                            {{message.sender}}: {{message.text}}
                        </div>
                    </div>
                </div>
                <div class="response-box">
                    <div class="typing-box">
                        <input class="form-field" placeholder="Hier schreiben..." type="text"
                            (keydown.enter)="sendMessage()" [formControl]="textInput" autocomplete="off" autofocus #myInput>
                        <mat-icon class="send-button" (click)="sendMessage()">send</mat-icon>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

