<!-- <div *ngFor = "let chat of currentChats">
    <div style = "cursor: pointer;"  (click) = "openChat(chat)">{{chat.uid}}</div>
</div>


<div *ngIf = "chatOpen === true">

    <div>Chat</div>
    <h3>Nachrichten:</h3>
    <div *ngFor = "let message of messages, let i = index">
        <div>
            {{message.sender}}: {{message.text}}
        </div>
    </div>
    <mat-form-field>
        <input matInput placeholder="Hallo, wie gehts?" type = "text" [formControl] = "textInput">
      </mat-form-field>
      <div>
        <button mat-raised-button [disabled] = "!textInput.valid" (click) = "sendMessage()" >Nachricht absenden</button>
    </div>
</div> -->

<div class="main-wrapper">
    <div class="chat-window">
        <div class="chat-box-header">
            <div style ="flex-direction: row; display: flex; width: 25%; align-items: center;">
                <div><img class = "image" src="{{currentUser?.photoURL}}" alt=""></div>
                <div *ngIf = "combinedname?.length > 30" style = "margin-left: 5%;"><h3 matTooltip="{{combinedname}}" style="margin-bottom:0">{{combinedname?.substring(0,30)}}...</h3></div>
                <div *ngIf = "combinedname?.length < 30" style = "margin-left: 5%;"><h3 style="margin-bottom:0">{{combinedname}}</h3></div>
            </div>

            <div *ngIf = "chatOpen" style ="flex-direction: row; display: flex; width: 75%; align-items: center;">
                <div><img class = "image" src="{{currentChatPartner?.photoURL}}" alt=""></div>
                <div style = "display: flex; flex-direction: column; width: 100%;">
                    <div *ngIf = "currentChatPartnerCombinedName?.length > 100"  style = "margin-left: 2%;"><h3 matTooltip="{{currentChatPartnerCombinedName}}" style="margin-bottom:0">{{currentChatPartnerCombinedName?.substring(0,100)}}...</h3></div>
                    <div *ngIf = "currentChatPartnerCombinedName?.length < 100"  style = "margin-left: 2%;"><h3 style="margin-bottom:0">{{currentChatPartnerCombinedName}}</h3></div>
                    <div *ngIf = "currentChatPartner?.job != '' && currentChatPartner?.company != ''" style = "margin-left: 2%;"><p style="margin-bottom: 0;">{{currentChatPartner?.job}} bei {{currentChatPartner?.company}}</p></div>
                </div>
            </div>
        </div>

        <div class="flex-wrapper">
            <div class="chat-list">
                <div [ngClass]="chat.uid === activeChatUID ? 'chat-box-selected' : 'chat-box-unselected'"
                    (click)="openChat(chat)" *ngFor="let chat of currentChats, let i = index">
                    <div [ngClass] ="chat.amountNewMessages > 0 ? 'bold' : ''" style = "display: flex; flex-direction: column; width: 100%;">
                        <div style = "display: flex; flex-direction: row; justify-content: space-between; width: 95%; margin-left: 3%;">
                            <div>
                                <p *ngIf = "currentChatNames.length != 0 && currentChatNames[i].indexOf('.') != -1" matTooltip="{{currentChatUsers[i].firstname}} {{currentChatUsers[i].lastname}}" style = "font-size: larger">{{currentChatNames[i]}}</p>
                                <p *ngIf = "currentChatNames.length != 0 && currentChatNames[i].indexOf('.') == -1" style = "font-size: larger">{{currentChatNames[i]}}</p>
                            </div>
                            
                            <div>
                                <p style = "color: rgba(236, 64, 122, 0.5); font-size: small" *ngIf = "chat.currentlyOnline"> online</p>
                                <p style = "font-size: x-small" *ngIf = "!chat.currentlyOnline"> zuletzt gesehen  {{chat.lastCheckedTime  | date: 'dd.MM - HH:mm'}}</p>
                            </div>
                        </div>
                        <div style = "display: flex; flex-direction: row; justify-content: space-between; width: 90%; margin-left: 3%;">
                            <div>
                                <p style ="font-size: small;" *ngIf = "chat.lastMessage.length > 20">{{chat.lastMessageTime  | date: 'dd.MM - HH:mm'}}: {{chat.lastMessage.substring(0,20)}}...</p>
                                <p style ="font-size: small;" *ngIf = "chat.lastMessage.length <= 20">{{chat.lastMessageTime  | date: 'dd.MM - HH:mm'}}: {{chat.lastMessage}}</p>
                            </div>
                            <div>
                                <p>
                                    <span *ngIf = "chat.amountNewMessages > 0" matBadgeColor="accent" matBadge = {{chat.amountNewMessages}}></span>
                                </p>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class = "flex-wrapper" style =  "height: 100%; flex-direction:column" *ngIf="chatOpen">
                <div *ngIf ="messagesVisible" #messageList class="message-window">
                    <div [ngClass]="{'own-message-wrapper': message.senderUID === currentUser.uid, 'other-message-wrapper': message.senderUID !== currentUser.uid, 'invisible': !messagesVisible}" *ngFor="let message of messages; let i = index; let last = last">
                        <div [ngClass]="message.senderUID === currentUser.uid ? 'own-message' : 'other-message'">
                            <div style = "display:flex;">
                                <p style = "margin-bottom: 0;">{{message.text}}</p>
                            </div>
                            <div style = "display:flex; margin-bottom: 0;">
                                <p class = "date">{{message.timestamp | date: 'dd.MM - HH:mm'}} </p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div *ngIf ="!messagesVisible" class = "message-window" style = "display: flex; justify-content: center; align-items: center;">
                    <mat-spinner color = "accent"></mat-spinner>
                </div>
                <div class="response-box">
                        <mat-form-field class="form-field"  appearance="none">
                                <textarea class = "textarea" matInput
                                    #myInput
                                    autofocus
                                    placeholder="Hier schreiben..."
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10"
                                    [formControl]="textInput"
                                    (keydown.enter)="onKeydown($event)">
                                </textarea>
                            </mat-form-field>
                        <mat-icon class="send-button" (click)="sendMessage()">send</mat-icon>
                </div>
            </div>
           
        </div>
    </div>
</div>

