<!-- <div *ngFor = "let chat of currentChats">
    <div style = "cursor: pointer;"  (click) = "openChat(chat)">{{chat.uid}}</div>
</div>


<div *ngIf = "chatOpen === true">

    <div>Chat</div>
    <h3>Nachrichten:</h3>
    <div *ngFor = "let message of messages, let i = index">
        <div>
            {{message.sender}}: {{message.text}}
        </div>
    </div>
    <mat-form-field>
        <input matInput placeholder="Hallo, wie gehts?" type = "text" [formControl] = "textInput">
      </mat-form-field>
      <div>
        <button mat-raised-button [disabled] = "!textInput.valid" (click) = "sendMessage()" >Nachricht absenden</button>
    </div>
</div> -->

<div class="main-wrapper">
    <div class="chat-window">
        <div class="chat-box-header">
            <div><img class = "image" src="{{currentUser?.photoURL}}" alt=""></div>
            <div style = "margin-left: 2%;"><h2>{{currentUser?.firstname}} {{currentUser?.lastname}}</h2></div>
        </div>

        <div class="flex-wrapper">
            <div class="chat-list">
                <div [ngClass]="chat.uid === activeChatUID ? 'chat-box-selected' : 'chat-box-unselected'"
                    (click)="openChat(chat)" *ngFor="let chat of currentChats">
                    <div>
                        {{chat.uid}}
                    </div>
                </div>
            </div>
            <div class = "flex-wrapper" style =  "height: 100%; flex-direction:column" *ngIf="chatOpen">
                <div #messageList class="message-window">
                    <div [ngClass]="message.senderUID === currentUser.uid ? 'own-message-wrapper' : 'other-message-wrapper'" *ngFor="let message of messages; let i = index; let last = last">
                        <div [ngClass]="message.senderUID === currentUser.uid ? 'own-message' : 'other-message'">
                            <div style = "display:flex;">
                                <p style = "margin-bottom: 0;">{{message.text}}</p>
                            </div>
                            <div style = "display:flex; margin-bottom: 0;">
                                <p class = "date">{{message.timestamp | date: 'dd.MM HH:mm'}} </p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="response-box">
                        <mat-form-field class="form-field"  appearance="none">
                                <textarea class = "textarea" matInput
                                    #myInput
                                    autofocus
                                    placeholder="Hier schreiben..."
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10"
                                    [formControl]="textInput"
                                    (keydown.enter)="onKeydown($event)">
                                </textarea>
                            </mat-form-field>
                        <mat-icon class="send-button" (click)="sendMessage()">send</mat-icon>
                </div>
            </div>
           
        </div>
    </div>
</div>

