<div id="job-profiles" class="section-title">
    <h2>Job-Profile in der <span>IT</span></h2>
</div>

<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Job-Profile</mat-label>
        <mat-select [formControl]="jobProfiles" multiple [(ngModel)]="selectedItems" matNativeControl
            (change)="changeSelectionEvent($event)">
            <mat-option *ngFor="let jobProfile of jobProfilesList" [value]="jobProfile">{{jobProfile}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>



<mat-grid-list [cols]="breakpoint" rowHeight="1.7:1" (window:resize)="onResize($event)" gutterSize="10">

    <mat-grid-tile *ngIf="selectedItems.includes('IT-Techniker')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> IT-Techniker </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/jbZWHG9F8XRDMdtDrQ6hzLZFUz52"
                    style="cursor: pointer; background-image: url('https://lh3.googleusercontent.com/a-/AOh14Ghlaad4KD3bCh9g0uaW7R-dX08xrjxMIZQasIbR=s96-c'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein IT-Techniker oder IT-Support-Techniker ist für die Wartung von Computersystemen und
                            anderen
                            Technologien
                            in einer geschäftlichen Umgebung verantwortlich. Zu ihren Aufgaben gehört es, mit anderen
                            IT-Technikern
                            zusammenzuarbeiten, um Hardware zu installieren und Computerprobleme zu beheben, auf
                            IT-Fragen von
                            Unternehmensmitarbeitern zu antworten und Malware-Schutzgeräte zu aktualisieren, um Viren
                            oder
                            Computer-Hacking zu verhindern.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Erhaltung funktionsfähiger Komponenten durch Reparatur oder Austausch </p>
                            </li>
                            <li>
                                <p> Unterstützung bei Anrufen oder Live-Chat bei technischen Schwierigkeiten </p>
                            </li>
                            <li>
                                <p> Vorbereitung der Website mit korrekter Codierung und Inhalten, die für die
                                    Geschäftsanforderungen des Unternehmens relevant sind </p>
                            </li>
                            <li>
                                <p> Überwachung von Klicks, Links, Benutzerfreundlichkeit und Gesamtstatus der
                                    Unternehmenswebseite, Zielseiten und unterstützenden Seiten. </p>
                            </li>
                            <li>
                                <p> Unterstützung von Kunden und Mitarbeitern bei Hardware- und
                                    Softwareherausforderungen
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Problemlösung: IT-Techniker müssen oft ein Problem interpretieren und den
                                    besten Weg
                                    zu
                                    einer Lösung finden. Dies erfordert kritisches Denken, da der IT-Techniker
                                    möglicherweise
                                    zusätzliche Informationen benötigt, die nicht bereitgestellt werden.
                                </p>
                            </li>
                            <li>
                                <p> Geduld: IT-Techniker arbeiten eng mit ihren Kunden zusammen. Geduld ist für
                                    dieses
                                    Feld erforderlich. Die Kunden verstehen oft nicht, was mit ihrem System passiert und
                                    beschreiben es möglicherweise nicht richtig. </p>
                            </li>
                            <li>
                                <p> Kommunikation: Die Kommunikation mit Kunden, Vorgesetzten und Mitarbeitern
                                    hilft
                                    allen, das Problem und mögliche Lösungen zu verstehen. Eine klare Darstellung der
                                    Situation,
                                    das Befolgen von E-Mails und Telefonaten sorgen für
                                    einen
                                    reibungslosen Prozessablauf.
                                </p>
                            </li>
                            <li>
                                <p> Ausdauer: Da IT-Techniker viele Stunden mit komplizierten Projekten arbeiten
                                    können,
                                    ist die Fähigkeit, sich auf das Ziel zu konzentrieren, von entscheidender Bedeutung.
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Stefan Hinterhölzl </h2>
                            <p> DiversIT-Mentor </p>
                            <button mat-raised-button routerLink="/profile/jbZWHG9F8XRDMdtDrQ6hzLZFUz52"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('UX-Designer')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> UX-Designer </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/f0fi5AyuXMSlFcmmJTzErrRqFvx1"
                    style="cursor: pointer; background-image: url('./../../../../assets/Images/job-profiles/Thomas-Deutsch-small.jpg'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein UX Designer oder User Experience Designer ist dafür verantwortlich, die
                            Benutzererfahrung zu überwachen und sicherzustellen, dass Websites, Softwareprogramme und
                            Produkte einfach zu bedienen sind. Zu ihren Aufgaben gehören die Überprüfung von
                            Benutzerfeedback, um potenzielle Fehler oder Bereiche auf Klarheit zu ermitteln, die enge
                            Zusammenarbeit mit anderen IT-Experten und Unternehmensmitarbeitern, um die
                            Benutzererfahrung zu verfeinern, und die Durchführung von Usability-Tests an
                            Softwareprodukten oder Websitefunktionen, um die Funktionalität sicherzustellen.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Identifizierung von Zielbenutzergruppen und führen von Interviews, um die
                                    Benutzerbedürfnisse zu verstehen
                                </p>
                            </li>
                            <li>
                                <p> Sicherstellung der Erstellung und Umsetzung maßgeschneiderter Erlebnisse für den
                                    digitalen Nutzer
                                </p>
                            </li>
                            <li>
                                <p> Hochwertige Lösungen durch Flussdiagramme, Grafikdesigns, Storyboards und Lagepläne
                                    produzieren
                                </p>
                            </li>
                            <li>
                                <p> Bereitstellung von Anleitungen zur Implementierung von UX-Forschungstechniken und
                                    Testaktivitäten zur Bewertung des Benutzerverhaltens
                                </p>
                            </li>
                            <li>
                                <p> Wettbewerbsvorteil gegenüber Konkurrenzprodukten und Branchentrends erhalten
                                </p>
                            </li>
                            <li>
                                <p> Tests an Benutzeroberflächenelementen wie CTAs, Layouts, Ziellinks, Landingpages und
                                    Bannern durchführen
                                </p>
                            </li>
                            <li>
                                <p> Verstehen Sie Produktspezifikationen und Benutzerpsychologie und sagen Sie voraus,
                                    was für beides funktionieren könnte
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Geschäftskennzahlen zu verstehen und Unternehmensziele und -ziele in
                                    digitale Erlebnisse zu übersetzen
                                </p>
                            </li>
                            <li>
                                <p> Ausgezeichnete zwischenmenschliche und kommunikative Fähigkeiten, um Ideen an
                                    Entwickler zu kommunizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse in Branchentools wie Adobe Suite, Figma, Sketch
                                </p>
                            </li>
                            <li>
                                <p> Problemlösungsfähigkeiten, um Lösungen für Herausforderungen der Benutzeroberfläche
                                    zu finden
                                </p>
                            </li>
                            <li>
                                <p> Multitasking- und Zeitmanagementfähigkeiten mit der Fähigkeit, Aufgaben zu
                                    priorisieren
                                </p>
                            </li>
                            <li>
                                <p> Analytischer Verstand mit Geschäftssinn
                                </p>
                            </li>
                            <li>
                                <p> Fähigkeit, sowohl selbstständig als auch im Team zu arbeiten
                                </p>
                            </li>
                            <li>
                                <p> Liebe zum Detail und Beherrschung des IT-Designs
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Thomas Deutsch </h2>
                            <p> DiversIT-Mentor </p>
                            <button mat-raised-button routerLink="/profile/f0fi5AyuXMSlFcmmJTzErrRqFvx1"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('Software Engineer')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> Software Engineer </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/0jiOV3Ihtjg2Gwu3NovseuGTnm02"
                    style="cursor: pointer; background-image: url('https://drive.google.com/uc?id=1vIxKVqzRvdUi9oHrz0lRrAYffidwTdsu'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein UX Designer oder User Experience Designer ist dafür verantwortlich, die
                            Benutzererfahrung zu überwachen und sicherzustellen, dass Websites, Softwareprogramme und
                            Produkte einfach zu bedienen sind. Zu ihren Aufgaben gehören die Überprüfung von
                            Benutzerfeedback, um potenzielle Fehler oder Bereiche auf Klarheit zu ermitteln, die enge
                            Zusammenarbeit mit anderen IT-Experten und Unternehmensmitarbeitern, um die
                            Benutzererfahrung zu verfeinern, und die Durchführung von Usability-Tests an
                            Softwareprodukten oder Websitefunktionen, um die Funktionalität sicherzustellen.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Identifizierung von Zielbenutzergruppen und führen von Interviews, um die
                                    Benutzerbedürfnisse zu verstehen
                                </p>
                            </li>
                            <li>
                                <p> Sicherstellung der Erstellung und Umsetzung maßgeschneiderter Erlebnisse für den
                                    digitalen Nutzer
                                </p>
                            </li>
                            <li>
                                <p> Hochwertige Lösungen durch Flussdiagramme, Grafikdesigns, Storyboards und Lagepläne
                                    produzieren
                                </p>
                            </li>
                            <li>
                                <p> Bereitstellung von Anleitungen zur Implementierung von UX-Forschungstechniken und
                                    Testaktivitäten zur Bewertung des Benutzerverhaltens
                                </p>
                            </li>
                            <li>
                                <p> Wettbewerbsvorteil gegenüber Konkurrenzprodukten und Branchentrends erhalten
                                </p>
                            </li>
                            <li>
                                <p> Tests an Benutzeroberflächenelementen wie CTAs, Layouts, Ziellinks, Landingpages und
                                    Bannern durchführen
                                </p>
                            </li>
                            <li>
                                <p> Verstehen Sie Produktspezifikationen und Benutzerpsychologie und sagen Sie voraus,
                                    was für beides funktionieren könnte
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Geschäftskennzahlen zu verstehen und Unternehmensziele und -ziele in
                                    digitale Erlebnisse zu übersetzen
                                </p>
                            </li>
                            <li>
                                <p> Ausgezeichnete zwischenmenschliche und kommunikative Fähigkeiten, um Ideen an
                                    Entwickler zu kommunizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse in Branchentools wie Adobe Suite, Figma, Sketch
                                </p>
                            </li>
                            <li>
                                <p> Problemlösungsfähigkeiten, um Lösungen für Herausforderungen der Benutzeroberfläche
                                    zu finden
                                </p>
                            </li>
                            <li>
                                <p> Multitasking- und Zeitmanagementfähigkeiten mit der Fähigkeit, Aufgaben zu
                                    priorisieren
                                </p>
                            </li>
                            <li>
                                <p> Analytischer Verstand mit Geschäftssinn
                                </p>
                            </li>
                            <li>
                                <p> Fähigkeit, sowohl selbstständig als auch im Team zu arbeiten
                                </p>
                            </li>
                            <li>
                                <p> Liebe zum Detail und Beherrschung des IT-Designs
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Gerald Roither </h2>
                            <p> DiversIT-Mentor </p>
                            <button mat-raised-button routerLink="/profile/0jiOV3Ihtjg2Gwu3NovseuGTnm02"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('Scrum Master')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> Scrum Master </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/f0fi5AyuXMSlFcmmJTzErrRqFvx1"
                    style="cursor: pointer; background-image: url('./../../../../assets/Images/job-profiles/Thomas-Deutsch-small.jpg'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein UX Designer oder User Experience Designer ist dafür verantwortlich, die
                            Benutzererfahrung zu überwachen und sicherzustellen, dass Websites, Softwareprogramme und
                            Produkte einfach zu bedienen sind. Zu ihren Aufgaben gehören die Überprüfung von
                            Benutzerfeedback, um potenzielle Fehler oder Bereiche auf Klarheit zu ermitteln, die enge
                            Zusammenarbeit mit anderen IT-Experten und Unternehmensmitarbeitern, um die
                            Benutzererfahrung zu verfeinern, und die Durchführung von Usability-Tests an
                            Softwareprodukten oder Websitefunktionen, um die Funktionalität sicherzustellen.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Identifizierung von Zielbenutzergruppen und führen von Interviews, um die
                                    Benutzerbedürfnisse zu verstehen
                                </p>
                            </li>
                            <li>
                                <p> Sicherstellung der Erstellung und Umsetzung maßgeschneiderter Erlebnisse für den
                                    digitalen Nutzer
                                </p>
                            </li>
                            <li>
                                <p> Hochwertige Lösungen durch Flussdiagramme, Grafikdesigns, Storyboards und Lagepläne
                                    produzieren
                                </p>
                            </li>
                            <li>
                                <p> Bereitstellung von Anleitungen zur Implementierung von UX-Forschungstechniken und
                                    Testaktivitäten zur Bewertung des Benutzerverhaltens
                                </p>
                            </li>
                            <li>
                                <p> Wettbewerbsvorteil gegenüber Konkurrenzprodukten und Branchentrends erhalten
                                </p>
                            </li>
                            <li>
                                <p> Tests an Benutzeroberflächenelementen wie CTAs, Layouts, Ziellinks, Landingpages und
                                    Bannern durchführen
                                </p>
                            </li>
                            <li>
                                <p> Verstehen Sie Produktspezifikationen und Benutzerpsychologie und sagen Sie voraus,
                                    was für beides funktionieren könnte
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Geschäftskennzahlen zu verstehen und Unternehmensziele und -ziele in
                                    digitale Erlebnisse zu übersetzen
                                </p>
                            </li>
                            <li>
                                <p> Ausgezeichnete zwischenmenschliche und kommunikative Fähigkeiten, um Ideen an
                                    Entwickler zu kommunizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse in Branchentools wie Adobe Suite, Figma, Sketch
                                </p>
                            </li>
                            <li>
                                <p> Problemlösungsfähigkeiten, um Lösungen für Herausforderungen der Benutzeroberfläche
                                    zu finden
                                </p>
                            </li>
                            <li>
                                <p> Multitasking- und Zeitmanagementfähigkeiten mit der Fähigkeit, Aufgaben zu
                                    priorisieren
                                </p>
                            </li>
                            <li>
                                <p> Analytischer Verstand mit Geschäftssinn
                                </p>
                            </li>
                            <li>
                                <p> Fähigkeit, sowohl selbstständig als auch im Team zu arbeiten
                                </p>
                            </li>
                            <li>
                                <p> Liebe zum Detail und Beherrschung des IT-Designs
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Thomas Deutsch </h2>
                            <p> DiversIT-Mentor </p>
                            <button mat-raised-button routerLink="/profile/f0fi5AyuXMSlFcmmJTzErrRqFvx1"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('Product Owner')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> Product Owner </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"
                    style="cursor: pointer; background-image: url('https://drive.google.com/uc?id=1Pt0poYI0Wa4VcxJCL7-uyCDVnnTyTscR'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein UX Designer oder User Experience Designer ist dafür verantwortlich, die
                            Benutzererfahrung zu überwachen und sicherzustellen, dass Websites, Softwareprogramme und
                            Produkte einfach zu bedienen sind. Zu ihren Aufgaben gehören die Überprüfung von
                            Benutzerfeedback, um potenzielle Fehler oder Bereiche auf Klarheit zu ermitteln, die enge
                            Zusammenarbeit mit anderen IT-Experten und Unternehmensmitarbeitern, um die
                            Benutzererfahrung zu verfeinern, und die Durchführung von Usability-Tests an
                            Softwareprodukten oder Websitefunktionen, um die Funktionalität sicherzustellen.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Identifizierung von Zielbenutzergruppen und führen von Interviews, um die
                                    Benutzerbedürfnisse zu verstehen
                                </p>
                            </li>
                            <li>
                                <p> Sicherstellung der Erstellung und Umsetzung maßgeschneiderter Erlebnisse für den
                                    digitalen Nutzer
                                </p>
                            </li>
                            <li>
                                <p> Hochwertige Lösungen durch Flussdiagramme, Grafikdesigns, Storyboards und Lagepläne
                                    produzieren
                                </p>
                            </li>
                            <li>
                                <p> Bereitstellung von Anleitungen zur Implementierung von UX-Forschungstechniken und
                                    Testaktivitäten zur Bewertung des Benutzerverhaltens
                                </p>
                            </li>
                            <li>
                                <p> Wettbewerbsvorteil gegenüber Konkurrenzprodukten und Branchentrends erhalten
                                </p>
                            </li>
                            <li>
                                <p> Tests an Benutzeroberflächenelementen wie CTAs, Layouts, Ziellinks, Landingpages und
                                    Bannern durchführen
                                </p>
                            </li>
                            <li>
                                <p> Verstehen Sie Produktspezifikationen und Benutzerpsychologie und sagen Sie voraus,
                                    was für beides funktionieren könnte
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Geschäftskennzahlen zu verstehen und Unternehmensziele und -ziele in
                                    digitale Erlebnisse zu übersetzen
                                </p>
                            </li>
                            <li>
                                <p> Ausgezeichnete zwischenmenschliche und kommunikative Fähigkeiten, um Ideen an
                                    Entwickler zu kommunizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse in Branchentools wie Adobe Suite, Figma, Sketch
                                </p>
                            </li>
                            <li>
                                <p> Problemlösungsfähigkeiten, um Lösungen für Herausforderungen der Benutzeroberfläche
                                    zu finden
                                </p>
                            </li>
                            <li>
                                <p> Multitasking- und Zeitmanagementfähigkeiten mit der Fähigkeit, Aufgaben zu
                                    priorisieren
                                </p>
                            </li>
                            <li>
                                <p> Analytischer Verstand mit Geschäftssinn
                                </p>
                            </li>
                            <li>
                                <p> Fähigkeit, sowohl selbstständig als auch im Team zu arbeiten
                                </p>
                            </li>
                            <li>
                                <p> Liebe zum Detail und Beherrschung des IT-Designs
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Diana Diversit </h2>
                            <p> DiversIT-Mentorin </p>
                            <button mat-raised-button routerLink="/profile/3DlpfgwpbxQnLuS3fiw9mKroGm42"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('Universitätsprofessor für Informatik')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> Universitätsprofessor für Informatik </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/0jiOV3Ihtjg2Gwu3NovseuGTnm02"
                    style="cursor: pointer; background-image: url('https://drive.google.com/uc?id=1vIxKVqzRvdUi9oHrz0lRrAYffidwTdsu'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein UX Designer oder User Experience Designer ist dafür verantwortlich, die
                            Benutzererfahrung zu überwachen und sicherzustellen, dass Websites, Softwareprogramme und
                            Produkte einfach zu bedienen sind. Zu ihren Aufgaben gehören die Überprüfung von
                            Benutzerfeedback, um potenzielle Fehler oder Bereiche auf Klarheit zu ermitteln.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Identifizierung von Zielbenutzergruppen und führen von Interviews, um die
                                    Benutzerbedürfnisse zu verstehen
                                </p>
                            </li>
                            <li>
                                <p> Sicherstellung der Erstellung und Umsetzung maßgeschneiderter Erlebnisse für den
                                    digitalen Nutzer
                                </p>
                            </li>
                            <li>
                                <p> Hochwertige Lösungen durch Flussdiagramme, Grafikdesigns, Storyboards und Lagepläne
                                    produzieren
                                </p>
                            </li>
                            <li>
                                <p> Bereitstellung von Anleitungen zur Implementierung von UX-Forschungstechniken und
                                    Testaktivitäten zur Bewertung des Benutzerverhaltens
                                </p>
                            </li>
                            <li>
                                <p> Wettbewerbsvorteil gegenüber Konkurrenzprodukten und Branchentrends erhalten
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Geschäftskennzahlen zu verstehen und Unternehmensziele und -ziele in
                                    digitale Erlebnisse zu übersetzen
                                </p>
                            </li>
                            <li>
                                <p> Ausgezeichnete zwischenmenschliche und kommunikative Fähigkeiten, um Ideen an
                                    Entwickler zu kommunizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse in Branchentools wie Adobe Suite, Figma, Sketch
                                </p>
                            </li>
                            <li>
                                <p> Problemlösungsfähigkeiten, um Lösungen für Herausforderungen der Benutzeroberfläche
                                    zu finden
                                </p>
                            </li>
                            <li>
                                <p> Multitasking- und Zeitmanagementfähigkeiten mit der Fähigkeit, Aufgaben zu
                                    priorisieren
                                </p>
                            </li>
                            <li>
                                <p> Analytischer Verstand mit Geschäftssinn
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Gerald Roither </h2>
                            <p> DiversIT-Mentor </p>
                            <button mat-raised-button routerLink="/profile/0jiOV3Ihtjg2Gwu3NovseuGTnm02"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('DevOps Engineer')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title> DevOps Engineer </mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/jbZWHG9F8XRDMdtDrQ6hzLZFUz52"
                    style="cursor: pointer; background-image: url('https://lh3.googleusercontent.com/a-/AOh14Ghlaad4KD3bCh9g0uaW7R-dX08xrjxMIZQasIbR=s96-c'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p> Ein UX Designer oder User Experience Designer ist dafür verantwortlich, die
                            Benutzererfahrung zu überwachen und sicherzustellen, dass Websites, Softwareprogramme und
                            Produkte einfach zu bedienen sind. Zu ihren Aufgaben gehören die Überprüfung von
                            Benutzerfeedback, um potenzielle Fehler oder Bereiche auf Klarheit zu ermitteln.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p> Identifizierung von Zielbenutzergruppen und führen von Interviews, um die
                                    Benutzerbedürfnisse zu verstehen
                                </p>
                            </li>
                            <li>
                                <p> Sicherstellung der Erstellung und Umsetzung maßgeschneiderter Erlebnisse für den
                                    digitalen Nutzer
                                </p>
                            </li>
                            <li>
                                <p> Hochwertige Lösungen durch Flussdiagramme, Grafikdesigns, Storyboards und Lagepläne
                                    produzieren
                                </p>
                            </li>
                            <li>
                                <p> Bereitstellung von Anleitungen zur Implementierung von UX-Forschungstechniken und
                                    Testaktivitäten zur Bewertung des Benutzerverhaltens
                                </p>
                            </li>
                            <li>
                                <p> Wettbewerbsvorteil gegenüber Konkurrenzprodukten und Branchentrends erhalten
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Geschäftskennzahlen zu verstehen und Unternehmensziele und -ziele in
                                    digitale Erlebnisse zu übersetzen
                                </p>
                            </li>
                            <li>
                                <p> Ausgezeichnete zwischenmenschliche und kommunikative Fähigkeiten, um Ideen an
                                    Entwickler zu kommunizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse in Branchentools wie Adobe Suite, Figma, Sketch
                                </p>
                            </li>
                            <li>
                                <p> Problemlösungsfähigkeiten, um Lösungen für Herausforderungen der Benutzeroberfläche
                                    zu finden
                                </p>
                            </li>
                            <li>
                                <p> Multitasking- und Zeitmanagementfähigkeiten mit der Fähigkeit, Aufgaben zu
                                    priorisieren
                                </p>
                            </li>
                            <li>
                                <p> Analytischer Verstand mit Geschäftssinn
                                </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2> Stefan Hinterhölzl </h2>
                            <p> DiversIT-Mentor </p>
                            <button mat-raised-button routerLink="/profile/jbZWHG9F8XRDMdtDrQ6hzLZFUz52"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="selectedItems.includes('IT-Systemadministrator')">
        <mat-card class="job-card-finetuning">
            <mat-card-header>
                <mat-card-title>IT-Systemadministrator</mat-card-title>
                <div mat-card-avatar class="header-image" routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"
                    style="cursor: pointer; background-image: url('https://lh3.googleusercontent.com/a-/AOh14GgI4R9eNIz_VwFXbdXWLELsJAw--55cDl-LKKnJ5uI=s288-p-rw-no'); background-size: cover;">
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Kurzbeschreibung">
                        <p>
                            Ein IT-Systemadministrator oder IT-Manager verwaltet die Netzwerk- und Serverinfrastruktur
                            eines Unternehmens. Die Hauptaufgaben sind die Sicherheit der Computersysteme und der
                            elektronischen Daten des Unternehmens, die Entwicklung und Implementierung
                            kundenspezifischer Systeme sowie die Überwachung aller computerbezogenen Aktivitäten.
                        </p>
                    </mat-tab>
                    <mat-tab label="Typische Aufgaben">
                        <ul>
                            <li>
                                <p>Überwachung des täglichen Betriebs der Netzwerk- und Serverinfrastruktur</p>
                            </li>
                            <li>
                                <p>Ausrichtung der IT-Infrastruktur auf aktuelle und zukünftige
                                    Geschäftsanforderungen
                                    und -ziele</p>
                            </li>
                            <li>
                                <p>Verwalten von IT-Budgets, Forecasting, Cashflow-Handling und Durchsetzung der
                                    Kosteneffizienz</p>
                            </li>
                            <li>
                                <p>Bewertung von Risiken, Entwicklung von Netzwerkwiederherstellungs- und
                                    Backup-Prozessen
                            </li>
                            <li>
                                <p>Begutachtung und Kauf von Neu- und Ersatzhardware
                                </p>
                            </li>
                            <li>
                                <p>Sicherstellen, dass die IT-Aktivitäten innerhalb der Grenzen der geltenden
                                    Gesetze, Kodizes
                                    und Vorschriften liegen</p>
                            </li>
                            <li>
                                <p>Testen, Fehlersuche und Anpassen von Informationssystemen für einen
                                    effektiven
                                    Betrieb</p>
                            </li>
                            <li>
                                <p> Implementierung der Sicherheit des Netzwerks, der Daten und seiner Speicher-
                                    und
                                    Kommunikationssysteme </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Fähigkeiten">
                        <ul>
                            <li>
                                <p> Fähigkeit, Kandidaten einzuschätzen und zu rekrutieren
                                </p>
                            </li>
                            <li>
                                <p> Fähigkeit, neue IT-Mitarbeiter
                                    auszubilden, Teammitglieder zu leiten und zu motivieren </p>
                            </li>
                            <li>
                                <p> Erfahrung in der Koordination von Installationen, Upgrades und Wartung </p>
                            </li>
                            <li>
                                <p> Fähigkeit, Softwareanforderungen zu identifizieren
                                </p>
                            </li>
                            <li>
                                <p> Kenntnisse von Architekturprozessen und Leistungsberichten von
                                    Betriebssystemen </p>
                            </li>
                            <li>
                                <p> Ausgeprägte Fähigkeiten zum kritischen Denken </p>
                            </li>
                            <li>
                                <p> Fähigkeiten, die Codeentwicklung zu verstehen und zu überwachen </p>
                            </li>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Ansprechperson">
                        <div class="container">
                            <h2>Cornelia Eysn</h2>
                            <p> DiversIT-Mentorin</p>
                            <button mat-raised-button routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"
                                class="btn btn-primary"> Zum Profil
                            </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>