.job-card-finetuning {
    height: 100%;
    overflow: auto;
    padding: 0;

    .mat-card-header {
        align-items: center;
        padding: 12px;
    }

    .mat-card-title {
        margin-bottom: 0;
    }

    .mat-card-avatar {
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }

    .mat-tab-group {
        padding: 12px;

        p {
            margin: 12px 12px 12px 12px;
        }
    }

    .mat-tab-labels {
        padding-top: 5px;
    }

    li p {
        margin-left: 0;
    }
}

.job-grid-tile {
    width: 100%;
}

.container {
    padding: 12px;

    p {
        margin-left: 0!important;
    }
}