<div id="privacy">
    <div class="container">
        <h2>Datenschutz</h2>
        <p>Der Schutz Ihrer personenbezogenen Daten ist uns wichtig.</p>
        <p>Diese Datenschutzerklärung klärt Nutzerinnen und Nutzer von DiversIT (Domain: "Live-Domain" und dazugehörige
            Sub-Domains über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten
            durch die DiversIT, Altenberger Straße 66, 4040 Linz, auf dieser Website auf.</p>
        <p>Wir verarbeiten Ihre Daten ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003).
            Nachfolgend erläutern wir im Sinne der Transparenz die mögliche Datenverarbeitung im Rahmen dieser Webseite.
        </p>
        <h3>Kontakt mit DiversIT</h3>
        <p>
            Wenn Sie per Formular auf der Webseite oder per E-Mail mit uns in Kontakt treten, verwenden wir ihre
            personenbezogenen Daten ausschließlich zur Bearbeitung Ihrer Anfrage. Sollte es für die weitere Bearbeitung
            notwendig sein, andere Stellen zu involvieren, werden Sie darüber informiert. Eine Weitergabe der bekannt
            gegebenen Daten erfolgt nur mit Ihrer ausdrücklichen Zustimmung. Ihre Daten werden so lange gespeichert, wie
            gesetzlich vorgeschrieben bzw. für die Abwicklung Ihrer Anfrage notwendig.
        </p>
        <h3>Ihre Rechte</h3>
        <p>
            Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Einschränkung, Löschung,
            Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie Anlass zur Annahme haben, dass die Verarbeitung
            Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer
            Weise verletzt worden sind, stehen wir Ihnen zur Klärung jederzeit zur Verfügung. Sie haben auch das Recht,
            sich bei der österreichischen Datenschutzbehörde (www.dsb.gv.at) zu beschweren.
        </p>
        <p>Sie erreichen uns unter folgenden Kontaktdaten:</p>
        <p>DiversIT <br />
            Altenberger Straße 66<br />
            4040 Linz <br />
            Tel +43 732 1234 5678 <br />
            <a href="mailto:diversit.plattform@gmail.com">diversit.plattform@gmail.com</a>
        </p>
        <h3>Eingegebene Daten in Formularfeldern auf dieser Webseite</h3>
        <p>Alle Eingaben durch den Benutzer oder die Benutzerin (z.B. Persönliche Profildaten, Nachrichten, Chats,
            Forumsbeiträge, Posts) erfolgen ausdrücklich auf freiwilliger Basis. DiversIT behält sich vor, Beiträge,
            welche straf- oder zivilrechtliche Normen verletzen oder den guten Sitten widersprechen, nicht zu
            veröffentlichen bzw. zu entfernen.</p>
    </div>