<p>job-card works!</p>

<mat-card class="job-card-finetuning">
    <mat-card-header>
        <mat-card-title>{{title !== " " ? title : "Kein Titel"}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{shortDescription}}
        </p>
        <div>
            <h3>Typische Aufgaben:</h3>
            <ul>
                <li *ngFor="let task of tasks">{{task}}</li>
            </ul>
            <p>{{tasks}}</p>
            <!-- liste funktioniert noch nicht wegen falschem datentyp. daten sollten ein string array sein -->
        </div>
        <div>
            <h3>Ansprechpersonen:</h3>
            <ul>
                <li *ngFor="let mentorUid of mentorUids">{{mentorUid}}</li>
            </ul>
            <p>{{mentorUids}}</p>
            <!-- liste funktioniert noch nicht wegen falschem datentyp. daten sollten ein string array sein -->
        </div>
    </mat-card-content>
</mat-card>