<mat-card (click)="redirectToProfile()">
    <div class="background-image"></div>
        <div *ngIf="profileImg === ''" mat-card-avatar style="background-image: url('./../../../../../assets/Images/User-Placeholder.png');"></div>
        <div *ngIf="profileImg !== ''" mat-card-avatar style="background-image: url('{{profileImg}}');"></div>
    <mat-card-content>
        <h2 *ngIf="name !== ''">{{name}}</h2>
        <h2 *ngIf="name === ' '">Name nicht abrufbar.</h2>
        <p *ngIf="company !== ''"> {{job}} bei {{company}} </p>
        <p *ngIf="company === '' && job !== ''"> {{job}} </p>
        <p *ngIf="company === '' && job === ''"> Keine Jobinformationen verfügbar. </p>
    </mat-card-content>
</mat-card>
