.wrapper{
    height: max-content;
    display: flex;
}

app-left-spacer{
    width: 14.5%;
}

app-main-panel{
    width: 45.5%;
}

app-right-panel-profile{
    width: 24%;
}

app-right-spacer{
    width: 16%;
}