<div class="threadOverview">
    <mat-card>
        <button mat-mini-fab aria-label="Forum anlegen" (click)="openDialogToCreateForum()" color="accent"
            style="color:white;">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card>
    <mat-card *ngFor="let t of this.currentThreads"
        [ngStyle]="{'background-color': doesThreadMatchFilterCriteria(t)? '#fde8ef' : 'white'}">
        <div fxLayout="row">
            <!--Antworten-->
            <div fxFlex="10" fxLayout="column">
                <div class="answerInvocation">{{t.numberOfAnswers}}</div>
                <div class="answerInvocationLabel">ANTWORTEN</div>
            </div>

            <!--Aufrufe-->
            <div fxFlex="10" fxLayout="column">
                <div class="answerInvocation">{{t.views}}</div>
                <div class="answerInvocationLabel">AUFRUFE</div>
            </div>

            <!--Forumstitel mit Tags-->
            <div fxFlex fxLayout="column" class="forumTitleWithTags">
                <div class="forumTitle" (click)="navigateToForumThread(t.uid)">{{t.title}}</div>
                <div fxLayout="row">
                    <div fxFlex="50">
                        <mat-chip *ngFor="let tag of t.tags" color="accent" class="small-chip" selected>{{tag}}
                        </mat-chip>
                    </div>
                    <div fxFlex class="changedAtCreatedAt">
                        <span *ngIf="t.lastAnswer !== null">Letzte Antwort am:
                            {{t.lastAnswerTime.toDate().toLocaleString()}} Uhr; </span>
                        <span>Erstellt am: {{t.created.toDate().toLocaleString()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>