<div class="centerPanel" *ngIf="currentUser">
    <mat-card class="matcard-notifications" >
        <h2>Benachrichtigungen</h2>
        <table border="0" style="width: 100%;">
            <tr *ngFor="let n of this.notifications">
                <td>
                    <mat-card-header routerLink="/profile/{{n.fromUID}}" style="cursor: pointer;">
                        <img *ngIf="n.fromPhotoURL !== unknown" src="{{n.fromPhotoURL}}" mat-card-avatar />
                        <img *ngIf="n.fromPhotoURL === unknown" src="./../../assets/Images/User-Placeholder.png" mat-card-avatar />
                    </mat-card-header>
                </td>
                <td>
                    <b>{{n.fromName}}</b><br>
                    <i style="color: gray;">{{n.when.toDate().toLocaleString('de-DE')}}</i>
                </td>
                <td>{{n.text != "" ? n.text : "Hat Ihnen eine Mentoranfrage geschickt."}}</td>
                <td nowrap>
                    <button mat-raised-button color="accent" *ngIf="n.type === 1" (click)="acceptMentorshipRequest(n)">Annehmen</button>
                    <button mat-raised-button (click)="declineMentorshipRequest(n)" style="margin-left: 5px;">Löschen</button>
                </td>
            </tr>
            <tr *ngIf="this.notifications.length === 0">
                <td style="padding-top: 40px;">
                    Keine neuen Benachrichtigungen
                </td>
            </tr>
        </table>
    </mat-card>
</div>
