<div id="imprint">
    <div class="container">
        <h2>Impressum</h2>
        <p>Divers<span>IT</span> - Plattform für Vielfalt in der IT</p>
        <ul>
            <li>
                UID-Nr: 123456789
            </li>
            <li>
                Firmenbuchnummer: 123456 x
            </li>
            <li>
                Firmenbuch-Gericht: Linz
            </li>
            <li>
                Sitz: 4040 Linz, Altenberger Straße 66 | Austria <br />
                Tel: +43 732 1234 5678 <br />
                E-Mail: <a href="mailto:diversit.plattform@gmail.com">diversit.plattform@gmail.com</a> <br />
                Bezirkshauptmannschaft Linz <br />
            </li>
            <li>
                Geschäftsführung: Thomas Deutsch, Cornelia Eysn, Stefan Hinterhölzl, Gerald Roither
            </li>
        </ul>
        <p>Unser Anliegen: Information über Berufe in der IT-Branche, Motivation von interessierten Personen - speziell
            in der Branche unterrepräsentierter Gruppen - zur Aufnahme einer Ausbildung im IT-Bereich, Vernetzung von
            Mentoren und Mentees im Fachbereich IT</p>
    </div>