<div class="container section-title">
    <h2>Nutzererfahrungen</h2>
</div>

<div class="container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let rating of ratings">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon *ngFor="let star of [].constructor(rating.stars)" class="icon" color="accent">star
                    </mat-icon>
                    <mat-icon *ngFor="let star of [].constructor(5 - rating.stars)" class="icon" color="accent">
                        star_border
                    </mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                    {{rating.summary}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{rating.text}}</p>
            <p>– {{rating.username}}, {{rating.lastUpdated.toMillis() | date:'dd.MM.yyyy'}}</p>
            <p></p>
        </mat-expansion-panel>
    </mat-accordion>
</div>