<mat-card class="card-finetuning">
  <mat-card-header *ngIf="profileImg !== undefined || name !== undefined || time !== undefined">
    <div *ngIf="profileImg !== ''" mat-card-avatar (click)="navigateToProfile()"
      style="cursor: pointer; background-image: url('{{profileImg}}'); background-size: cover;"></div>
    <div *ngIf="profileImg === ''" mat-card-avatar (click)="navigateToProfile()"
      style="cursor: pointer; background-image: url('./../../../../../assets/Images/User-Placeholder.png'); background-size: cover;">
    </div>
    <mat-card-title (click)="navigateToProfile()" style="cursor: pointer;">{{name !== " " ? name : "Kein Name"}}
    </mat-card-title>
    <mat-card-subtitle (click)="navigateToProfile()" style="cursor: pointer;">{{time | date: 'dd.MM.yyyy hh:mm:ss'}}
    </mat-card-subtitle>
    <div class="menu-wrapper">
      <mat-icon class="menu" *ngIf="userid === currentUser.uid" [matMenuTriggerFor]="menu" >more_horiz</mat-icon>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editPost()">
          <mat-icon>edit</mat-icon>
          <span>Bearbeiten</span>
        </button>
        <button mat-menu-item (click)="deletePost()">
          <mat-icon>delete</mat-icon>
          <span>Löschen</span>
        </button>
      </mat-menu>
    </div>

    
    
  </mat-card-header>
  <mat-card-content [ngClass]="{'empty-post': (time === undefined && name === undefined && profileImg === undefined)}">
    <p>  
      {{content}}
    </p>
  </mat-card-content>
  <img src="{{contentImg}}" onerror="style='display: none; height: 0px'" style="width: 100%; border-radius: 10px;">
</mat-card>