<mat-card class="card-finetuning">
    <mat-card-header>
      <div mat-card-avatar class="header-image" (click)="navigateToProfile()" style="cursor: pointer; background-image: url('{{profileImg}}'); background-size: cover;"></div>
      <mat-card-title (click)="navigateToProfile()" style="cursor: pointer;">{{name}}</mat-card-title>
      <mat-card-subtitle (click)="navigateToProfile()" style="cursor: pointer;">{{time}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{content}}
      </p>
    </mat-card-content>
    <img src="{{contentImg}}" alt="Photo of a Shiba Inu" style="width: 100%; border-radius: 10px;">
  </mat-card>