.card-finetuning {
  margin: 10px 0px;
  min-width: 100%;
}

.empty-post{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: larger;
  padding-top: 10px;
}

.menu-wrapper{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu {
  cursor: pointer;
  
}