<div class="wrapper">
    <app-profile-head></app-profile-head>
    <app-profile-new-post></app-profile-new-post>

    <app-post-card userid= "123" name="Peter Zwegat" profileImg="" time="20.10.2021 08:30" content="Test test Test test Test"></app-post-card>
    <app-post-card userid= "123" name="Peter Zwegat" profileImg="" time="20.10.2021 08:30" content="Test test Test test Test"></app-post-card>
    <app-post-card userid= "123" name="Peter Zwegat" profileImg="" time="20.10.2021 08:30" content="Test test Test test Test" contentImg="https://material.angular.io/assets/img/examples/shiba1.jpg"></app-post-card>

</div>
