<div class="container section-title">
    <h2>Mentor<span>innen</span> Spotlight</h2>
</div>

<div class="container">
    <mat-card *ngFor="let mentor of mentors" class="mentor-card-finetuning">
        <mat-card-header>
            <!-- Photo -->
            <img *ngIf="mentor.photoURL !== unknown; else placeholder" src="{{mentor.photoURL}}" mat-card-avatar />
            <ng-template #placeholder>
                <img src="./../../../../../assets/Images/User-Placeholder.png" mat-card-avatar />
            </ng-template>

            <!-- Name -->
            <mat-card-title>{{mentor.firstname}} {{mentor.lastname}}
                <span *ngIf="mentor.girlsOnlyMentor" class="chip chip-primary">Girls only</span>
            </mat-card-title>

            <!-- Job And Company -->
            <mat-card-subtitle>
                <p *ngIf="mentor.gender === 'Weiblich'">DiversIT-Mentorin</p>
                <p *ngIf="mentor.gender === 'Männlich'">DiversIT-Mentor</p>
                <p *ngIf="mentor.gender !== 'Weiblich' && mentor.gender !== 'Männlich'">DiversIT-Mentor*</p>
                <p *ngIf="mentor.job !== '' && mentor.company !== ''">{{mentor.job}} bei {{mentor.company}}</p>
                <p *ngIf="mentor.job ==='' || mentor.company === ''">{{mentor.job}}{{mentor.company}}</p>
                <!-- Education and Background Infos -->
                <ul>
                    <li *ngIf="mentor.primaryEducation !== ''">{{mentor.primaryEducation}}</li>
                    <li *ngIf="mentor.secondaryEducation !== ''">{{mentor.secondaryEducation}}</li>
                    <li *ngIf="mentor.universityEducation !== ''">{{mentor.universityEducation}}</li>
                    <li *ngFor="let info of mentor.backgroundInfos">{{info}}</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-header>

        <!-- CTA and Mentoring Capacity Info -->
        <mat-card-actions>
            <div *ngIf="mentor.maxMentees === -1 || mentor.maxMentees > mentor.mentees.length; else fullcapacity">
                <p>Freie Mentoring-Plätze!</p>
                <button mat-raised-button routerLink="/profile/{{mentor.uid}}" class="btn btn-primary"> Kontakt
                    aufnehmen
                </button>
            </div>
            <ng-template #fullcapacity>
                <p>Aktuell leider keine Mentoring-Kapazität frei.</p> <button mat-raised-button
                    routerLink="/profile/{{mentor.uid}}" class="btn btn-primary"> Zum Profil
                </button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</div>