.mentor-card-finetuning {
    height: 100%;

    .mat-card-avatar {
        height: 250px;
        width: 250px;
        margin-right: 30px;
    }

    mat-card-actions {
        margin: 10px 10px 10px 10px!important;
        text-align: right;
    }

    .mat-card-title {
        padding-top: 12px;
    }
}