<div id="mentor-spotlight">
    <div class="container section-title">
        <h2>Mentor<span>innen</span> Spotlight</h2>
    </div>

    <mat-card class="mentor-card-finetuning">
        <mat-card-header>
            <mat-card-title>Cornelia <span>Eysn</span></mat-card-title>
            <mat-card-subtitle>
                <p>DiversIT-Mentorin</p>
                <p>QA Engineer bei Avocodo</p>
                <ul>
                    <li>Matura am Gymnasium</li>
                    <li>BSc BWL an der JKU</li>
                    <li>Mehrjährige Berufserfahrung im Marketing und Eventmanagement</li>
                    <li>Studienbeginn MSc Wirtschaftsinformatik an der JKU in Bildungskarenz</li>
                    <li>Quereinsteigerin mit 30+</li>
                    <li>Einstieg als QA Engineer / Testautomation Engineer in Teilzeit</li>
                    <li>Übergang zur Backend-Entwicklerin in Vollzeit 2022</li>
                </ul>
            </mat-card-subtitle>
            <div mat-card-avatar class="header-image" routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"
                style="cursor: pointer; background-image: url('./../../../../assets/Images/job-profiles/Cornelia\ Eysn.png'); background-size: cover;">
            </div>
        </mat-card-header>
        <mat-card-actions><button mat-raised-button routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"
                class="btn btn-primary"> Mentee werden
            </button></mat-card-actions>
    </mat-card>
</div>