.mentor-card-finetuning {
    height: 100%;
    padding: 30px 80px;
    margin: 10px;

    .mat-card-avatar {
        height: 250px;
        width: 250px;
        margin-right: 30px;
    }

    mat-card-actions {
        margin: 10px 10px 10px 10px!important;
        text-align: right;

        .mat-raised-button {
            margin-right: 0;
        }
    }

    .mat-card-title {
        padding-top: 12px;
    }
}

.container {
    margin: 20px;
}