<div id="mentor-spotlight" >
    <div  class="container" >
        <h2>Mentor<span>innen</span> Spotlight</h2>
    </div>

    <mat-card class="mentor-card-finetuning">
        <mat-card-header>
            <mat-card-title>Cornelia <span>Eysn</span></mat-card-title>
            <mat-card-subtitle>
                DiversIT-Mentorin, QA Engineer bei Avocodo
                <ul>
                    <li>Matura am Gymnasium</li>
                    <li>BSc BWL an der JKU</li>
                    <li>Mehrjährige Berufserfahrung im Marketing und Eventmanagement</li>
                    <li>Studienbeginn MSc Wirtschaftsinformatik an der JKU in Bildungskarenz</li>
                    <li>Quereinsteigerin mit 30+</li>
                    <li>Einstieg als QA Engineer / Testautomation Engineer in Teilzeit</li>
                    <li>Übergang zur Backend-Entwicklerin in Vollzeit 2022</li>
                </ul>
            </mat-card-subtitle>
            <div mat-card-avatar class="header-image" routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"
                style="cursor: pointer; background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover;">
            </div>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions><button mat-raised-button routerLink="/profile/zLccCJEzSGap7BlhefDT0xTyi9I3"> Mentee werden
            </button></mat-card-actions>
    </mat-card>
</div>